<div class="container">
  <h1>New Health Care Professional</h1>

  <%= render 'form', health_care_professional: @health_care_professional %>

  <%= link_to 'Back', health_care_professionals_path %>

</div>

