<div class="jumbotron jumbotron-fluid">
  <div class="container">

    <h1 class="display-4">Your Health is Our Priority</h1>
    <p class="lead">Book an appointment with one of our Health Professionals and Become Immortal (like... forever).</p>

    <%= link_to "Create an Account to Book an Appointment", new_user_registration_path, class: 'btn btn-primary btn-lg btn-block', role: "button" %>
    <%= link_to "I Already Have an Account", new_user_session_path, class: 'btn btn-secondary btn-lg btn-block', role: "button" %>

  </div>
</div>