<div class="main">
    <section class="signup">

        <div class="container">
            <div class="signup-content">
                <h1 class="lead">Your Health is Our Priority</h1>
                <br>
                <p class="lead">Book an appointment with one of our Health Professionals and Become Immortal .</p>
                <br>
                <h2>Join us today!</h2>
                <p class="loginhere">
                    <%= link_to "Sign up",  new_user_registration_path, class: "form-submit btn-lg btn-block" %>
                </p>
                <br>
                <h2>Have an account?</h2>
                <p class="loginhere">
                    <%= link_to "Login", new_user_session_path, class: "form-submit btn-lg btn-block" %>
                </p>
            </div>
        </div>
    </section>
</div>