<div class="main">

  <section class="signup">
    <div class="container">
      <div class="signup-content">
        <h1 class="display-4">
          <%= "Welcome #{current_user.name.titleize}!" %>
        </h1>
        <br>
        <br>
        <h3 class="lead">What do you want to do today?</h3>
        <br>

        <h2 class="lead">Add a Health Care Professional</h2>
        <p class="loginhere">
          <% if policy(HealthCareProfessional).new? %>
            <%= link_to 'ADD', new_health_care_professional_path, class: 'form-submit btn-lg btn-block' %>
          <% end %>
        </p>

      </div>
    </div>
  </section>
</div>