<div class="main">

    <section class="signup">

        <div class="container">
            <div class="signup-content">
                <h1 class="display-4">
            <%= "Welcome #{current_user.name.titleize}!" %>
          </h1>
                <br>
                <br>
                <h3 class="display-5">What do you want to do today?</h3>
                <br>
                <h2 class="lead">Book an Appointment</h2>

                <p class="loginhere">
                    <% if policy(Appointment).new? %>
                        <%= link_to 'BOOK', new_appointment_path, class: 'form-submit btn-lg btn-block' %>
                            <% end %>
                </p>

                <br>
                <h2 class="lead">Edit my Profile</h2>

                <p class="loginhere">
                    <% if policy(User).edit? %>
                        <%= link_to 'EDIT', edit_user_registration_path, class: 'form-submit  btn-lg btn-block' %>
                            <% end %>
                </p>

            </div>
        </div>
    </section>
</div>