<% if user_signed_in? %>
  <% if policy(HealthCareProfessional).index? %>
    <li class='nav-item'><%= link_to 'Health Care Professionals', health_care_professionals_path, class: 'nav-link' %></li>
  <% end %>

  <% if policy(Appointment).all? %>
    <li class='nav-item'><%= link_to 'Appointments', all_appointments_path, class: 'nav-link' %></li>
  <% end %>

  <% if policy(Appointment).my? %>
    <li class='nav-item'><%= link_to 'My Appointments', my_appointments_path, class: 'nav-link' %></li>
  <% end %>

  <% if policy(Appointment).new? %>
    <li class='nav-item'><%= link_to 'Book a New Appointment', new_appointment_path, class: 'nav-link' %></li>
  <% end %>


<% end %>