<% if user_signed_in? %>
  <span class="navbar-text">
    <%= current_user.name %>'s Account |
  </span>
  <% if policy(User).edit? %>
    <li class='nav-item'><%= link_to 'Edit account', edit_user_registration_path, class: 'nav-link' %></li>
  <% end %>
  <li class='nav-item'><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete', class: 'nav-link' %></li>
<% end %>

